<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Add user</h3>
            <form action="{% url 'create' %}" method="post">
                {%csrf_token%}
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="address" placeholder="Address" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="phone" placeholder="Phone" required>
                </div>
                <button class="btn btn-info form-control" type="submit">SUBMIT</button>
            </form>

        </div>

        <div class="col-md-8">
            <h3>Users</h3>
            <table id="userTable" class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th colspan="3">Phone</th>
                </tr>
                {%for user in users%}
                <tr id="user-{{user.id}}">

                    <td class="userName userData" name="name">{{user.name}}</td>
                    <td class="userAddress userData" name="address">{{user.address}}</td>
                    <td class="userPhone userData" name ="phone">{{user.phone}}</td>
                    <td align="center">
                        <button class="btn btn-success form-control" onClick="editUser({{user.id}})" data-toggle="modal" data-target="#myModal")">EDIT</button>
                    </td>
                    <td align="center">
<!--                        <button class="btn btn-danger form-control" onClick="deleteUser({{user.id}})">DELETE</button>-->
                        <a href="{%url 'delete' id=user.id %}">delete</a>
                    </td>

                </tr>
                {%endfor%}
            </table>
        </div>


    </div>




<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">Update User</h4>
        </div>
        <form id="updateUser" action="{% url 'update'%}" method="post">
            {%csrf_token%}
        <div class="modal-body">
            <input class="form-control" id="form-id" type="hidden" name="formId"/>
            <label for="name">Name</label>
            <input class="form-control" id="form-name" type="text" name="formName"/>
            <label for="address">Address</label>
            <input class="form-control" id="form-address" type="text" name="formAddress"/>
            <label for="age">Age</label>
            <input class="form-control" id="form-phone" type="number" name="formPhone" />
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Save changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>



<script>
function editUser(id) {
  if (id) {
    tr_id = "#user-" + id;
    name = $(tr_id).find(".userName").text();
    address = $(tr_id).find(".userAddress").text();
    phone = $(tr_id).find(".userPhone").text();
    $('#form-id').val(id);
    $('#form-name').val(name);
    $('#form-address').val(address);
    $('#form-phone').val(phone);
  }
}





</script>

</body>

</html>